@import '../../../styles/settings.scss';

.component {
  margin-bottom: ($base-size * 3);
}

.title {
  margin-bottom: ($base-size * 2);
}

.input, .dropdown {
  width: 80%;
  border: 1px solid lighten($color-dark, 60%);
  padding: ($base-size / 2);
  &Small {
    width: 30%;
  }
}

.icon {
  cursor: pointer;
  width: 80%;
  i {
    padding-left: 8px;
    width: 100%;
  }

  &Active {
    padding-left: 8px;
    background: $color-primary;
    border-radius: $radius;
  }
}

.checkboxes {
  display: flex;
  flex-direction: column;
}
